* {
    padding: 0;
    margin: 0;
    border: 0
}

*, :after, :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:active, :focus, a:active, a:focus {
    outline: 0
}

aside, footer, header, nav {
    display: block
}

body, html {
    height: 100%;
    width: 100%;
    min-width: 0;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

button, input, textarea {
    font-family: inherit
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

a, a:hover, a:visited {
    text-decoration: none
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&display=swap');

@media screen and (max-width: 1024px) {
    /* .wrapper {
        max-width: 970px;
    } */
    .heading {
        padding: 5rem;
    }


}
@media screen and (min-width: 992px) {
    .heading {
        padding: 5rem;
    }

}
@media screen and (max-width: 992px) {
    .menu__main .menu__link {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
}
@media screen and (min-width: 993px) {
    .hamburger-menu {
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .heading {
        padding: 3rem;
    }
    .title {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .heading {
        padding: 1rem;
    }
}

.header {
    width: 100%;
    height: 5rem;
    background-color: #201C8C;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.25rem;
    position: sticky;
    top: 0;
}

.logo {
    max-width: 5rem;
    padding: .625rem;
    position: relative;
    z-index: 2;
}
.title {
    color: #F2AA6B;
    height: 1.875rem;
    margin: 1.5625rem;
}
.title, .logo {
    float: left;
}
.menu {
    height: 100%;
    float: right;
}
.menu__main {
    text-align: center;

    height: 100%;
}
.menu__link {
    display: inline-block;
    line-height: 3.125rem;
    margin: .9375rem;
}
.menu__link, .menu__link a {
    color: #F2AA6B;
    transition: color .235s ease-out;
}

.menu__link a:hover {
    color: #dc995f;
}
.hamburger-menu {
    height: 100%;
    width: fit-content;
    float: right;

}
#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    top:0;
    right: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    /* top: 1.875rem; */
    right: 1.25rem;
  
    width: 1.875rem;
    height: 1.875rem;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #616161;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: -500%;
    right: 0;
    width: 100%;

    height: 18.75rem;
  
    margin: 0;
    padding-top: 3.75rem;
  
    background-color: #201C8C;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }
  
  .menu__box__item {
    display: block;
    padding: .75rem;
  
    transition-duration: .25s;
  }
  .menu__box__item a {
    color: #F2AA6B;
  }
  .menu__box__item a:hover {
    color: #dc995f;
  }
.wrapper {
    min-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: visible;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: #F2F2F2;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

hr {
    margin: 1.25rem;
    text-align: center;
    height: .125rem;
    border: 2px solid #F2AA6B;;
}

.footer {
    text-align: center;
}

.footer__item {
    display: inline-block;
    padding: 1.3125rem;
}

.main {
    flex: 1 1 auto;
    text-align: center;
}

.heading {
    max-height: 20rem;
    color: #F2F2F2;
    background-image: url(../images/heading.webp);
    background-size: 100%;
    font-size: 1.875rem;
    background-repeat: no-repeat;
}
.heading span {
    font-size: 2.75rem;
}

.pluses {
    height: fit-content;

    justify-content: center;
}
.pluses h1 {
    display: block;
}

.pluses__item {
    margin: 3.75rem;
    display: inline-block;
    max-width: 9.375rem;
    /* max-height: 8.125rem; */
}

.goods {
    height: 9.75rem;
    max-width: 100%;
    text-align: center;
    padding-bottom: 1.50rem;
}
.goods h1 {
    padding-bottom: 1.25rem;
}

.swiper {
    max-height: 100%;
    height: 100%;
    width: 12.5rem;
    display: block;
}

.goods h1 {
    font-size: 2rem;
    height: 2rem;
}
.good {
    font-size: large;
    margin: 1.875rem;
    display: block;
}
.good__data {
    float: left;
    padding: 1.875rem;
}
.good__data form input {
    background-color: #F2AA6B;
    height: 2.5rem;
    padding: .625rem;
    border-radius: .3125rem;
}
.good__data form input:hover {
    background-color: #e7a061;
}
.good img {
    float: left;
}
.goods__list {
	padding: 0;
    overflow-y: visible;
    justify-content: center;
}
.good__list__item {
    display: inline-block;
    margin: 1.25rem;
}
.good__list__item a h2, h3 {
    color: black;
    text-align: center;
}
.good__list__item a img {
    width: 15.625rem; 
    height: 20rem;
    object-fit: cover;

}
.form {
    text-align: center;
    margin: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form form{
    /* border: .1875rem solid #F2AA6B; */
    padding: 2.5rem;
    background-color: #F2AA6B;
    border-radius: .3125rem;
}
.form__input {
    
    border: .125rem solid #d48e51;
    border-radius: .25rem;
}
.register {
    display: block;
}
.form__item {
    margin: 1.25rem;
}
.submit {
    background-color: #F2AA6B;
    height: 1.5rem;
    border: .1875rem solid #d48e51;
    border-radius: .1875rem;
    transition: background-color .35s ease-out;
}
.submit:hover {
    background-color: #d48e51;
}