{% extends 'base.html' %}

{% block content %}
    
    <div class="form">
        <form action="" method="post" novalidate>
            <h2>Add good</h2>
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(class_='form__input')}}<br>
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.descreption.label }}<br>
                {{ form.descreption(class_='form__input')}}<br>
                {% for error in form.descreption.errors %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.price.label }}<br>
                {{ form.price(class_='form__input')}}<br>
                {% for error in form.price.errors %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.size.label }}<br>
                {{ form.size(class_='form__input')}}<br>
                {% for error in form.size.errors %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.matherial.label }}<br>
                {{ form.matherial(class_='form__input')}}<br>
                {% for error in form.matherial.errors %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.type.label }}<br>
                {{ form.type(class_='form__input')}}<br>
                {% for error in form.type.errors %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.quantity.label }}<br>
                {{ form.quantity(class_='form__input')}}<br>
                {% for error in form.quantity.errors %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.in_stock.label }}<br>
                {{ form.in_stock(class_='form__input')}}<br>
                {% for error in form.quantity.errors %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class_='submit') }}</p>
        </form>
    </div>
{% endblock %}