<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Stock Center Family</title>
    {% endif %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icons/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/icons/apple-touch-icon.png')  }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/icons/favicon-32x32.png')  }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/icons/favicon-16x16.png')  }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/icons/site.webmanifest')  }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo" class="logo">
            <span class="title">Stock Center Family</span>
            <nav class="menu">
                <ul class="menu__main">
                    <li class="menu__link"><a href="/">Головна</a></li>
                    <li class="menu__link"><a href="/goods">Товари</a></li>
                    <li class="menu__link"><a href="#">Новники</a></li>
                    <li class="menu__link"><a href="#">Про нас</a></li>
                    {% if aunteficated %}
                    <li class="menu__link"><a href="/login">Вхід</a></li>
                    {% else %}
                    <li class="menu__link"><a href="{{ url_for('cart', username=current_user.username) }}">Кошик</a></li>
                    {% endif %}
                </ul>
            </nav>
            <nav class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                  <span></span>
                </label>
                <ul class="menu__box">
                    <li class="menu__box__item"><a href="/">Головна</a></li>
                    <li class="menu__box__item"><a href="/goods">Товари</a></li>
                    <li class="menu__box__item"><a href="#">Новники</a></li>
                    <li class="menu__box__item"><a href="#">Про нас</a></li>
                    {% if aunteficated %}
                    <li class="menu__box__item"><a href="/login">Вхід</a></li>
                    {% else %}
                    <li class="menu__box__item"><a href="{{ url_for('cart', username=current_user.username) }}">Кошик</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %} {% endblock %}
        <footer class="footer">
            <p>Наші соціальні мережі</p>
            <a href="" style="color: black;">
                <figure class="footer__item">
                    <img src="{{ url_for('static', filename='images/footer/facebook.svg') }}" alt="facebook" height="60">
                    <figcaption>Фейсбук</figcaption>
                </figure>
            </a>
            <a href="https://t.me/StockCF" style="color: black;">
                <figure class="footer__item">
                    <img src="{{ url_for('static', filename='images/footer/telegram.svg') }}" alt="telegram" height="60">
                    <figcaption>Телеграм</figcaption>
                </figure>
            </a>
            <a href="" style="color: black;">
                <figure class="footer__item">
                    <img src="{{ url_for('static', filename='images/footer/viber.svg') }}" alt="viber" height="60">
                    <figcaption>Вайбер</figcaption>
                </figure>
            </a>
            <a href=""  style="color: black;">
                <figure class="footer__item">
                    <img src="{{ url_for('static', filename='images/footer/instagram.svg') }}" alt="instagram" height="60">
                    <figcaption>Інстаграм</figcaption>
                </figure>
            </a>
        </footer>
    </div>
    
    
    
</body>
</html>