{% extends 'base.html' %}

{% block content %}
    <ul class="goods__list">
        {% for good in good_list %}
            <li class="good__list__item">
                <a class="product" href="{{ url_for('good', goodname=good.name) }}">
                    <img src="{{ url_for('static', filename='images/goods/') }}{{ good.image_name }}.png" alt="{{ good.name }}">
                    <h3>
                        {{ good.name }}
                    </h3>
                    <h2>
                        {{ good.price }} грн.
                    </h2>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}