{% extends 'base.html' %}

{% block content %}
  <div class="form">
    <form action="" method="post" novalidate>
      <h2 class="form__item">Вхід</h2>
      {{ form.hidden_tag() }}
      <p class="form__item">
        {{ form.username.label }}<br>
        {{ form.username(class_='form__input') }} <br>
          {% for error in form.username.errors %}
            <span style="color: red;">[{{error}}]</span>
          {% endfor %}
      </p>
        <p class="form__item">
            {{ form.password.label }}<br>
            {{ form.password(class_='form__input') }}<br>
            {% for error in form.password.errors %}
              <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p class="form__item">{{ form.remember_me() }} 
          {{ form.remember_me.label }}</p>
        <p class="form__item">{{ form.submit(class_='submit') }}</p>
        <a href="/register" class="register">Ще не зареєстровані? То зробіть це!</a>
    </form>
    
  </div>
    
{% endblock %}